<nav class="navbar navbar-dark bg-dark" style= "background: transparent; background-color: linear-gradient(to right, #fc4a1a, #f7b733);">
  <nav class="navbar navbar-expand-lg navbar-custom">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarToggle">
      <div class="navbar-nav">
        <ul class="nav nav-underline">
        <li class="nav-link" id="nav-img"><img src="../../assets/logo.png" alt="" style="height: 40px; width: 40px; left: 20px; top: 2px;"></li>
        <li class="nav-item active" id="nav-menu" style="left: 23px;">
          <button class="nav-link" (click)="login()"><i class="fas fa-house"></i> Login </button>
          <li class="nav-item">
          <button class="nav-link" (click)="signup()"><i class="fas fa-address-card"></i> Sign Up</button>
        </li>
      </ul>
      </div>
    </div>
  </nav>
</nav>