/* 
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
 
  .alert-danger {
    color: red;
    margin-top: 5px;
    background-color: transparent;
    border: none;
  }  

  .form-group {
    margin-top: 50px;
    margin-bottom: 50px;
  } */


  /* .form-group {
    max-width: 400px;
    margin: 500px;
    margin-bottom: 5px;
    margin-top: 50px;
  }
 
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin: 650px;
    margin-top: auto;
  }
 
  .alert-danger {
    color: red;
    margin-top: 5px;
    background-color: transparent;
    border: none;
  }  
  label {
    display: block;
    margin-bottom: 5px;
  } */

  .gradient-custom {
    /* fallback for old browsers */

      margin: 0;
      padding: 0;
      font-family: Roboto;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(./.././../assets/02.jpg);
      height: 100vh;
      overflow: hidden;

    
    /* Chrome 10-25, Safari 5.1-6 */
   
    }