<!-- <form (ngSubmit)="updatedriver()">
    <label for="LicenseNumber">LicenseNumber</label>
    <input [(ngModel)]="driver.LicenseNumber" name="LicenseNumber" id="LicenseNumber" type="number" placeholder="Enter LicenseNumber" required />
    <label for="Password">Password</label>
    <input [(ngModel)]="driver.Password" name="Passwordr" id="Password" type="password" placeholder="Enter Password" required />
    <label for="Email">Email</label>
    <input [(ngModel)]="driver.Email" name="Email" id="Email" type="email" placeholder="Enter Email" required />
    <label for="UserName">DUserName</label>
    <input [(ngModel)]="driver.UserName" name="UserName" id="UserName" type="text" placeholder="Enter UserName" required />
    <label for="PhoneNumber">PhoneNumber</label>
    <input [(ngModel)]="driver.PhoneNumber" name="PhoneNumber" id="PhoneNumber" type="number" placeholder="Enter PhoneNumber" required />
    <label for="Vehicle">Vehicle</label>
    <input [(ngModel)]="driver.Vehicle" name="Vehicle" id="Vehicle" type="text" placeholder="Enter Vehicle" required />
   
    
    
  
    <button type="submit">Update Driver</button>
  </form> -->
  
  <section style="background-image: url('./.././../assets/02.jpg');background-size: cover; height: 130vh;">
    <div class="container mt-0">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="card"  style="background-color: transparent;" >
            <div class="card-header" style="font-size: x-large;font-weight: bold;color: rgb(5, 5, 5);">
              Update Driver
            </div>
            <div class="card-body" >
             
              <form (ngSubmit)="updatedriver()">
                <label for="LicenseNumber">LicenseNumber</label>
                <input [(ngModel)]="driver.LicenseNumber" name="LicenseNumber" id="LicenseNumber" type="number" placeholder="Enter LicenseNumber" required />
                <label for="Password">Password</label>
                <input [(ngModel)]="driver.Password" name="Passwordr" id="Password" type="password" placeholder="Enter Password" required />
                <label for="Email">Email</label>
                <input [(ngModel)]="driver.Email" name="Email" id="Email" type="email" placeholder="Enter Email" required />
                <label for="UserName">DUserName</label>
                <input [(ngModel)]="driver.UserName" name="UserName" id="UserName" type="text" placeholder="Enter UserName" required />
                <label for="PhoneNumber">PhoneNumber</label>
                <input [(ngModel)]="driver.PhoneNumber" name="PhoneNumber" id="PhoneNumber" type="number" placeholder="Enter PhoneNumber" required />
                <label for="Vehicle">Vehicle</label>
                <input [(ngModel)]="driver.Vehicle" name="Vehicle" id="Vehicle" type="text" placeholder="Enter Vehicle" required />
               
        <br>
        <button type="submit">Update Driver</button>
    </form>
              
            
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>