<div class="bg">
    <!-- <div class="text">
        <h1>Payment</h1>
    </div> -->
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="../../assets/Card2.jpg" alt="Avatar" style="width:400px;height:500px;">
            </div>
            <div class="flip-card-back">
                <h1>Payment</h1>
                <div class="box">
                    <select aria-placeholder="Select Your Payment type" id="dropdown" name="vehicle">
                        <option value="" disabled selected> Cash</option>
                        <option value="upi"> UPI</option>
                    </select>
                </div>
                <div class="btn">
                    <button id="btn1" (click)="payment()">Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>